body { 					/*every page needs this*/
margin: 0 auto; 		/*every page needs this*/
max-width: 1300px; 
background-color: #efeff7;		/*every page needs this*/
}

* {						/*every page needs this*/
	margin: 0px;       /*every page needs this*/
	padding: 0px;			/*every page needs this*/
	box-sizing: border-box;		/*every page needs this*/
}


.topcontainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;    /*this won't work on .gx because .gx is not layout*/
	
	background-color: #fdbe33;
	justify-content: space-around;
}


.gx {
	font-size: 3rem;
	text-align: left;
	font-family: 'Bruno Ace SC', cursive;
	color: #030f27;
	margin: 0px;
	padding: 0px 0px 0px 5px;
}


.btn {font-size: 1rem;
	padding: 15px;
	margin: 10px;
	border-radius: 15px;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #030f27;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #dddddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
